version: '3.9'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    container_name: web
    ports:
      - '3000:3000'
      - '3001:3001'
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db

  db:
    image: postgres:14.4
    container_name: web-db
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: web_development

volumes:
  db-data:
